

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Seaweed+Script&display=swap');


*{font-family: "Nunito Sans", sans-serif;
   padding: 0; 
   margin: 0;
}

.heroes{
    background-image: url(images/first-image.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;   /* 100% of viewport height */
    max-width: 100%;
    background-color: rgba(20,15,12,255);
  
    .heroes-shadow{
        background-color:rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
    }

        
    .heading-page{
        width: 100%;

        display: flex;
        /* margin: 0 auto; */
        justify-content: space-between;
        align-items: center;
        color: white;
        padding-top: 1rem;
       
        h1{
            padding-left: 1rem;
            
        }
        .page-links{
            ul{
                display: flex;           
            }

            li{
                list-style-type: none;

                a{
                text-decoration: none;
                color: white; 
                margin-right: 20px;
                /* text-align: center; */
                }
            }
        }

        .social-links{
            padding-right: 1rem;
            ul{
                display: flex;
            }
            li{
                list-style-type: none;
            }
            img{
                height: 1rem;
                width: 1rem;
                margin-right: 10px;
                /* background-color: white; */
            }
        }
    }

    .sub-heading{
        h1{
            text-align: center;
            color: white;
            padding-top: 8rem;
            font-size: 5rem;
        }
    }

}


.detail-container{
    /* position: relative; */
    display: flex; 
    max-width: 100%;
    height: auto;
    padding: 5rem 0;
    background-color: #140f0c;
    color: rgba(122,117,111,255);
    
    .detailifo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .line-text{
        display: flex;
        justify-content: left;
        align-items: center;
       
         
        .myline{
           height: 2px;
           width: 8%;
           background-color: rgba(122,117,111,255);
           margin:0 1rem;
         }
         
    }

    .first-container{
        height: 100%;
        max-width: 40%;
        padding: 0 3rem;
        
        h1{font-size: 2rem;
        color: rgba(241,240,238,255);
        }
        .rest-contactinfo{
            display: flex;
            margin: 1rem 0;
            width: 100%;
            height: auto;
             
            img{
                height: 1rem;
                width: 1rem;
                display: inline-block;
                /* vertical-align: middle;*/
                padding-right: 1rem; 
            }

            p {display: inline-block;
                vertical-align: middle;
            }
        }

        .followUs-container{
            margin-top: 2rem;
            .followus-icon{
                ul img{
                    height: 1rem;
                    width: 1rem;
                    padding-top: 1rem;  
                    padding-left: 1rem;
                }
            }
        }
        

        hr{
            color: grey;
            width: 90%;
            align-items: center;
        }
    }
    
    .second-container{
        max-width: 40%;
        margin-right:3rem;
        padding: 0 1rem;

        h1{color: rgba(241,240,238,255);
        font-size: 2rem;}
       label{
        display: block;
        color: rgba(241,240,238,255);
       }
       input{
        width: 80%;
        height: 2rem;
        margin-top: 0.5rem;
        background-color: rgba(27,28,30,255);
        border: none;
        padding: 0.5rem;
        }
        
       .continfo{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        width: 100%;
      
       }

       .subject{
        margin-bottom: 1rem;
        width: 100%;
        }


       .comment{
        margin-bottom: 1rem;
        textarea{width: 80%;
        margin-top: 0.5rem;
        background-color: rgba(27,28,30,255);
        border: none;
        padding: 0.5rem;
        }
        }
       button{
        height:2rem;
        background-color:rgba(211,153,90,255);
        border: none;
        padding: 0.5rem;
       }
    }
}

.resturant-image{
    position: relative;
    max-width: 100%;
    height: auto;
    background-color:black;
    
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    img{
        width: 100%;
        height: 100%;
        display: block;
    }
    .overlay{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        z-index: 3;
        width: 60%;
        text-align: center;
        

        .line-text{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
             
            .myline{
               height: 4px;
               width: 8%;
               background-color: rgb(122,117,111);
               margin: 0 1rem;
             }
        }

        h1{
            font-size: 3rem;
            margin-bottom: 1rem;
        }

        button{
            margin: 2rem;
            height: 2rem;
            width: 20%;
            border: none;
            background-color: rgba(211,153,90,255);
            cursor: pointer;
        }

    }
}

.footer{
    /* position: relative; */
    border-top: 5px;
    height: auto;
    width: 100%;
    background-color: #140f0c;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;


    .footer-container{
        text-align: center;
    }

    h1{
        margin: 20px auto;
        /* padding-top: 3rem; */
        width: 50%;
        font-size: 3rem;
    }

    .group-links{
       /* width: 50%; */
       ul{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
        
       } 

       a{
        color: rgba(208,152,103,255);
        text-decoration: none;
       }
    }

    p{
        /* font-size: 0.1rem; */
        color: rgba(241,240,238,255);
        padding: 1rem 3rem;
        margin-bottom: 2rem;
       }
}



